img {
    height: auto;
    width: 400px;
    margin-left: 210px;
    margin-top: 20px;
}

html {
    background: #66545e;
}

.recipe-title {
    color: whitesmoke;
    font-family: "Courier New", "Lucida Console", "Monaco";
    font-weight: none;
    font-size: 40px;
    text-align: center;
}

.homepage-list a,
.links-box a {
    font-family: "Courier New", "Lucida Console", "Monaco";
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 5px;
    padding: 10px;
}

.homepage-list {
    margin: 50px;
    /* we centered the list hence the inline box is also centered */
    display: flex; /* Creates an inline box around the items. A box is needed to avoid vertical overlap */
    list-style: none;
}

.links-box {
    margin-top: 70px;
    margin-left: 280px;
    margin-bottom: 30px;
    list-style: none;
    display: inline-block;
}

.homepage-list a:hover, 
.links-box a:hover {
    border: 2px solid white;
    background: #aa6f73;
    font-weight: bold;
}

.steps{
    color: whitesmoke;
    width: 400px;
    height: 260px;
    border: 2px solid #eea990;
    padding: 30px;
}

.ingredients {
    color: whitesmoke;
}

.homepage-body,
.recipe-body-lembas,
.recipe-body-butterbeer,
.recipe-body-sugarcookies {
    box-sizing: border-box;
    border-radius: 14px;
    width: 900px;
    height: 1100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #a39193;
    border: 0px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Since the lengths of the different recipes vary we can override the box 
height using the individual classes*/
.recipe-body-lembas {
    height: 1180px;
}

.recipe-body-butterbeer {
    height: 1430px;
}

.recipe-body-sugarcookies {
    height: 2090px;
}

#welcome-message {
    font-family: "Courier New", "Lucida Console", "Monaco";
    width: 600px;
    color: #f6e0b5;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

#sitetitle {
    color: aliceblue;
    font-size: 60px;
}

.description, 
h2, 
h3 {
    color: #f6e0b5;
}
